@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background: #FFF8FE; /* Snow */
  --foreground: #565254; /* Davy's Gray */
  --card-bg: #D0CFCF; /* Timberwolf */
  --border-color: #7A7D7D; /* Gray */
  --button-bg: #7A7D7D; /* Gray */
  --button-text: #FFFFFF; /* White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
